<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <html xmlns:th="http://www.thymeleaf.org">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto Integrador Senac</title>

        <link th:href="@{/css/menu.css}" rel="stylesheet" />
        <link th:href="@{/css/estilo.css}" rel="stylesheet" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    </head>

    <body class="sticky-header">
        <section>
            <div th:replace="menu :: menu"></div>

            <!-- body -->
            <div class="body-content">
                <!-- header -->
                <div class="header-section">
                    <!--logo-->
                    <div class="logo">
                        <a href="#">
                            <span class="logo-img">

                            </span>
                            <i class="fa fa-maxcdn"></i>
                            <span class="brand-name">Projeto Integrador</span>
                        </a>
                    </div> 

                </div>
                <!-- final header -->

                <div class="container-fluid">
                    <div class="page-head">
                        <h4 class="mt-2 mb-2"></h4>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">Numero de clientes</h5>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">Numero de Ordens</h5>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h5 class="header-title pb-3">Valor recebido no mes</h5>

                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-center align-items-center text-center">
                            
                            <div>
                                <table>
                                    <tr>
                                        <td><label for="clientePesquisa">Pesquisar Cliente por Nome:</label></td>
                                        <td><input type="text" class="form-control" id="clientePesquisa" name="clientePesquisa" placeholder="Digite o nome do Cliente"></td><!-- comment -->
                                        <td><button id="pesquisarCliente" class="btn btn-primary">Pesquisar</button></td>
                                        <td><a class="btn btn-secondary" href="/criarCliente" id="addClientes">Adicionar Cliente</a><td>
                                </tr>
                                </table>
                                
                            </div></div>
                            

                    </div>
<div id="resultadosPesquisa"></div>
                </div>

            </div>
            <!--fim container-->
            <!--footer-->
            <footer class="footer">
                2023 Projeto Integrador Senac
            </footer>
        </div>
    </section>


    <!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script  type="text/javascript" th:src="@{/js/script.js}"></script>
    <script  type="text/javascript" th:src="@{/js/cep.js}"></script>
    <!--<script  type="text/javascript" src="/js/script.js"></script>
    <script  type="text/javascript" src="/js/cep.js"></script>-->
</body>
</html>